/*Estilos Footer*/
footer{
    @include flex(null,space-around,center);
    padding: $spacing-xsmall 0;  
    flex-wrap:wrap;        
}

.footer__logo{
    max-width: 120px;
}

.footer__imagenes{
    @include flex (null,null,center);
    gap:$spacing-xsmall;
}

.footer__menu{
    display: flex;
    gap: $spacing-xsmall;
    &__link{
        font-size: $text-base;
        padding: $spacing-xsmall;
        transition: all 1s;
        &:hover{
            color:map-get($colores,secondary);
        }
    }
    &__active{
        @extend .footer__menu__link;
        color: map-get($colores,secondary);
    }
}
.footer__redes:hover{
    animation: move 1s ease infinite;
    cursor: pointer;
}

@keyframes move {
    30% { 
        transform: scale(1.2); 
    }
    40%{
        transform: rotate(-20deg) scale(1.2); 
    }
     60% { 
        transform: rotate(-20deg) scale(1.2); 
    }
    50% { 
        transform: rotate(20deg) scale(1.2); 
    }
    70% { 
        transform: rotate(0deg) scale(1.2); 
    }
    100% { 
        transform: scale(1); 
    }
}

@media screen and (max-width:892px){
    footer{
        flex-direction: column;        
    }
    .footer__menu{
        flex-direction: column;
        align-items: center;
    }    
}  